.card:hover{
  background: linear-gradient(to right, rgba(230, 230, 230, 0.6) 0%, rgba(230, 230, 230, 0.6) 50%, #ffffff 100%) ;
  background-size: 200% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.card{
  background: linear-gradient(to right, rgba(230, 230, 230, 0.6) 0%, rgba(230, 230, 230, 0.6) 50%, #ffffff 100%) ;
  background-size: 200% 100%;
  background-position: 200% 0%;
  background-repeat: no-repeat;
}